.img-quienes{
    height: 250px;
    width: 450px;
    border: solid 3px whitesmoke;
    border-radius: 8px;
    margin: 20px;
  }
  .quienes-somos{
    background-color: #ef9a9a;
    border-radius: 8px;
  }