@media (max-width: 767px) {
    p{
      font-size: large;
      color: #000;
    }
    .info-animales i{
      color: #000;
    }
    .img{
      border: 3px solid whitesmoke;
    }
    .contenedor-flex {
      display: block;
      justify-content: center;
      align-content: center;
      justify-items: center;
      align-items: center;
      text-align: center; 
    }
    .contenedor-animales{
      display: block;
      justify-content: center;
      align-content: center;
      justify-items: center;
      align-items: center;
      text-align: center;
    }
    #img-inicio{
      width: 100%;
    }
    iframe{
      width: 100%;
    }
    textarea{
      width: 100%;
    }
  }