p {
  font-family: sans-serif;
  font-size: x-large;
  color: #5f5d5d;
}

/*========================QUIENES SOMOS=====================*/

.img-quienes{
  height: 250px;
  width: 450px;
  border: solid 3px whitesmoke;
  border-radius: 8px;
  margin: 20px;
}
.quienes-somos{
  background-color: #ef9a9a;
  border-radius: 8px;
}

/*=======================NAVEGACION===============*/

.img-nav{
  width: 150px;
}
.collapse{
  display: flex;
  justify-content: end;
  font-weight: 900;
}

/*====================PIE DE PAGINA===============*/

.contenedor-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.elemento-flex { 
  text-align: center;
  margin-right: 15px;
}
footer {
  background-color: #ffcdd2;
  margin-top: 20px;
  border-radius: 8px;
}
iframe {
  margin: 15px;
  border-radius: 16px;
}

/*=======================INDEX================*/

#inicio {
  border-radius: 8px;
  background-color: #ef5350;
}
#img-inicio {
  margin: 15px;
  border-radius: 16px;
  width: 450px;
}

/*================PERROS Y ANIMALES===============*/

.fa-cat{
  justify-content: center;
  margin-bottom: 10px;
}
.fa-dog{
  justify-content: center;
  margin-bottom: 10px;
}
.animales {
  border-radius: 8px;
  background-color: #e57373;
} 
.img {
  border: 3px solid #000;
  padding: 10px;
  margin: 15px;
  width: 250px;
  height: 250px;
}
.contenedor-animales {
  display: flex;
  align-items: center;
}

.info-animales {
  margin-left: 20px; /* ajusta el margen según tus necesidades */
}

/*====================FORMULARIO==============*/

#titulo {
  font-family: sans-serif;
  color: #000;
  text-align: center;
  padding-top: 15px;
}
#Subtitulo {
  font-family: sans-serif;
  color: black;
  text-align: center;
}
#check {
  display: inline-block;
  font-family: sans-serif;
  color: black;
}
.contacto {
  background-color: #e57373;
  font-family: sans-serif;
  font-size: 1em;
  color: black;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
}
input,
select,
textarea,
button {
  border-radius: 5px;
}
.grupo:after,
.grupo:before {
  display: table
}
.grupo:after {
  clear: both;
}
.campo {
  margin-bottom: 1em;
}
.campo label {
  margin-bottom: 0.2em;
  color: #000;
  display: block;
}
fieldset .campo .grupo {
  float: left;
  margin-right: 1em;
}
.campo input[type="text"],
.campo input[type="email"],
.campo select,
.campo textarea {
  padding: 0.2em;
  border: 1px solid red;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: inline-block;
}
.campo select option {
  padding-right: 1em;
}
.campo input:focus,
.campo select:focus,
.campo textarea:focus {
  background-color: #e0e0f8;
}
.button {
  font-size: 1.2em;
  background-color: red;
  border: 0;
  margin-bottom: 1em;
  color: #ffffff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.button:hover {
  background-color: rgb(255, 74, 74);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

/*==================MEDIA===================*/

@media (max-width: 767px) {
  p{
    font-size: large;
    color: #000;
  }
  .info-animales i{
    color: #000;
  }
  .img{
    border: 3px solid whitesmoke;
  }
  .contenedor-flex {
    display: block;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center; 
  }
  .contenedor-animales{
    display: block;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  #img-inicio{
    width: 100%;
  }
  iframe{
    width: 100%;
  }
  textarea{
    width: 100%;
  }
}
